In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [3]:
import re

In [4]:
df = pd.read_excel(
    "raw.xlsx",
    parse_dates=["date"]
)

In [5]:
df = df[["title", "text", "rating", "date", "source"]]
df.date = pd.to_datetime(df['date'])

In [6]:
df.head()

,title,text,rating,date,source
0,Незаконно снята комиссия при переводе через СП...,При переводе через СПБ себе в другой банк была...,1,2025-01-08 16:26:00,banki.ru
1,Без моего согласия подключены платные услуги,05.10.2024 я онлайн оформиляла кредитную карту...,1,2024-10-10 17:45:00,banki.ru
2,Не могу закрыть кредитную карту с мая месяца и...,С мая месяца не могу закрыть кредитную карту г...,1,2025-08-04 14:52:00,banki.ru
3,"Газпромбанк экономит на операторах, нанимая дл...","Сколько бы не обращался для вызова Оператора, ...",1,2024-11-01 10:43:00,banki.ru
4,Обман с акцией “Приведи друга”,В ноябре 2024г отправила другу ссылку на получ...,1,2025-01-11 21:37:00,banki.ru

In [7]:
import re

def ser_cleaner(row):
    row["title"] = re.sub(r'[^\w\s]', '', str(row["title"]).strip().lower())
    row["text"] = re.sub(r'[^\w\s]', '', str(row["text"]).strip().lower())
    row["title_words"] = row["title"].split()
    row["text_words"] = row["text"].split()
    return row


df = df.apply(ser_cleaner, axis=1)

df.head()

,title,text,rating,date,source,title_words,text_words
0,незаконно снята комиссия при переводе через сп...,при переводе через спб себе в другой банк была...,1,2025-01-08 16:26:00,banki.ru,"[незаконно, снята, комиссия, при, переводе, че...","[при, переводе, через, спб, себе, в, другой, б..."
1,без моего согласия подключены платные услуги,05102024 я онлайн оформиляла кредитную карту с...,1,2024-10-10 17:45:00,banki.ru,"[без, моего, согласия, подключены, платные, ус...","[05102024, я, онлайн, оформиляла, кредитную, к..."
2,не могу закрыть кредитную карту с мая месяца и...,с мая месяца не могу закрыть кредитную карту г...,1,2025-08-04 14:52:00,banki.ru,"[не, могу, закрыть, кредитную, карту, с, мая, ...","[с, мая, месяца, не, могу, закрыть, кредитную,..."
3,газпромбанк экономит на операторах нанимая для...,сколько бы не обращался для вызова оператора б...,1,2024-11-01 10:43:00,banki.ru,"[газпромбанк, экономит, на, операторах, нанима...","[сколько, бы, не, обращался, для, вызова, опер..."
4,обман с акцией приведи друга,в ноябре 2024г отправила другу ссылку на получ...,1,2025-01-11 21:37:00,banki.ru,"[обман, с, акцией, приведи, друга]","[в, ноябре, 2024г, отправила, другу, ссылку, н..."

In [8]:
df = df[df['date'].notna()]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10241 entries, 0 to 10240
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        10241 non-null  object
 1   text         10241 non-null  object
 2   rating       10241 non-null  int64
 3   date         10241 non-null  datetime64[ns]
 4   source       10241 non-null  object
 5   title_words  10241 non-null  object
 6   text_words   10241 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 560.2+ KB

In [10]:
df.shape

(10241, 7)

In [11]:
df.to_csv("ready_csv_10241.csv")
df.to_excel("ready_xlsx_10241.xlsx")
df.to_json("ready_json_10241.json", orient="records")