In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [7]:
import re

In [8]:
df = pd.read_excel(
    "raw_positive.xlsx",
)

In [9]:
df.head()

,title,text,source
0,Мир,Пенсия моя уже несколько лет находится в НПФ Г...,vzo.ru
1,Развитие,В свое время банк мне здорово помог и поддержа...,vzo.ru
2,Интернет-эквайринг,"Серьезная проверка сайта,поддержка разных плат...",vzo.ru
3,ГАЗФОНД пенсионные накопления,Пенсия – время отдыхать и тратить заработанное...,vzo.ru
4,Дальневосточная ипотека,В связи с переездом на Дальний Восток я решила...,vzo.ru

In [10]:
df = df[["title", "text", "source"]]

In [11]:
df.head()

,title,text,source
0,Мир,Пенсия моя уже несколько лет находится в НПФ Г...,vzo.ru
1,Развитие,В свое время банк мне здорово помог и поддержа...,vzo.ru
2,Интернет-эквайринг,"Серьезная проверка сайта,поддержка разных плат...",vzo.ru
3,ГАЗФОНД пенсионные накопления,Пенсия – время отдыхать и тратить заработанное...,vzo.ru
4,Дальневосточная ипотека,В связи с переездом на Дальний Восток я решила...,vzo.ru

In [12]:
import re

def ser_cleaner(row):
    row["title"] = re.sub(r'[^\w\s]', '', str(row["title"]).strip().lower())
    row["text"] = re.sub(r'[^\w\s]', '', str(row["text"]).strip().lower())
    row["title_words"] = row["title"].split()
    row["text_words"] = row["text"].split()
    return row


df = df.apply(ser_cleaner, axis=1)

df.head()

,title,text,source,title_words,text_words
0,мир,пенсия моя уже несколько лет находится в нпф г...,vzo.ru,[мир],"[пенсия, моя, уже, несколько, лет, находится, ..."
1,развитие,в свое время банк мне здорово помог и поддержа...,vzo.ru,[развитие],"[в, свое, время, банк, мне, здорово, помог, и,..."
2,интернетэквайринг,серьезная проверка сайтаподдержка разных плате...,vzo.ru,[интернетэквайринг],"[серьезная, проверка, сайтаподдержка, разных, ..."
3,газфонд пенсионные накопления,пенсия время отдыхать и тратить заработанное ...,vzo.ru,"[газфонд, пенсионные, накопления]","[пенсия, время, отдыхать, и, тратить, заработа..."
4,дальневосточная ипотека,в связи с переездом на дальний восток я решила...,vzo.ru,"[дальневосточная, ипотека]","[в, связи, с, переездом, на, дальний, восток, ..."

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        591 non-null    object
 1   text         591 non-null    object
 2   source       591 non-null    object
 3   title_words  591 non-null    object
 4   text_words   591 non-null    object
dtypes: object(5)
memory usage: 23.2+ KB

In [ ]:
df.shape

(591, 5)

In [15]:
df.to_csv("ready_csv_positive.csv")
df.to_excel("ready_xlsx_positive.xlsx")
df.to_json("ready_json_positive.json", orient="records")

In [20]:
df.head()

,title,text,source,title_words,text_words
0,мир,пенсия моя уже несколько лет находится в нпф г...,vzo.ru,[мир],"[пенсия, моя, уже, несколько, лет, находится, ..."
1,развитие,в свое время банк мне здорово помог и поддержа...,vzo.ru,[развитие],"[в, свое, время, банк, мне, здорово, помог, и,..."
2,интернетэквайринг,серьезная проверка сайтаподдержка разных плате...,vzo.ru,[интернетэквайринг],"[серьезная, проверка, сайтаподдержка, разных, ..."
3,газфонд пенсионные накопления,пенсия время отдыхать и тратить заработанное ...,vzo.ru,"[газфонд, пенсионные, накопления]","[пенсия, время, отдыхать, и, тратить, заработа..."
4,дальневосточная ипотека,в связи с переездом на дальний восток я решила...,vzo.ru,"[дальневосточная, ипотека]","[в, связи, с, переездом, на, дальний, восток, ..."

In [17]:
big_df = pd.read_excel(
    "ready_xlsx_10241.xlsx"
)

In [18]:
big_df.head()

,Unnamed: 0,title,text,rating,date,source,title_words,text_words
0,0,незаконно снята комиссия при переводе через сп...,при переводе через спб себе в другой банк была...,1,2025-01-08 16:26:00,banki.ru,"['незаконно', 'снята', 'комиссия', 'при', 'пер...","['при', 'переводе', 'через', 'спб', 'себе', 'в..."
1,1,без моего согласия подключены платные услуги,05102024 я онлайн оформиляла кредитную карту с...,1,2024-10-10 17:45:00,banki.ru,"['без', 'моего', 'согласия', 'подключены', 'пл...","['05102024', 'я', 'онлайн', 'оформиляла', 'кре..."
2,2,не могу закрыть кредитную карту с мая месяца и...,с мая месяца не могу закрыть кредитную карту г...,1,2025-08-04 14:52:00,banki.ru,"['не', 'могу', 'закрыть', 'кредитную', 'карту'...","['с', 'мая', 'месяца', 'не', 'могу', 'закрыть'..."
3,3,газпромбанк экономит на операторах нанимая для...,сколько бы не обращался для вызова оператора б...,1,2024-11-01 10:43:00,banki.ru,"['газпромбанк', 'экономит', 'на', 'операторах'...","['сколько', 'бы', 'не', 'обращался', 'для', 'в..."
4,4,обман с акцией приведи друга,в ноябре 2024г отправила другу ссылку на получ...,1,2025-01-11 21:37:00,banki.ru,"['обман', 'с', 'акцией', 'приведи', 'друга']","['в', 'ноябре', '2024г', 'отправила', 'другу',..."

In [19]:
absolutely_negative = big_df[big_df["rating"]==1]
absolutely_negative.shape

(7482, 8)

In [21]:
absolutely_positive = big_df[big_df["rating"]==5]
absolutely_positive.shape

(1241, 8)

In [22]:
df.shape

(591, 5)

In [23]:
591+1241

1832

In [27]:
absolute_df = pd.concat(
    [
        absolutely_positive,
        absolutely_negative.iloc[:1833]
    ]
)[[
    "title",
    "text",
    "source",
    "title_words",
    "text_words"
]]

sampled_df = pd.concat(
    [
        absolute_df,
        df
    ]
)

In [28]:
sampled_df.shape

(3665, 5)

In [29]:
sampled_df.to_json(
    "ballanced_dataset.json",
    orient="records"
)