In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [3]:
import re

In [4]:
df = pd.read_excel(
    "raw_positive.xlsx",
)

In [5]:
df.head()

,title,text,source
0,Мир,Пенсия моя уже несколько лет находится в НПФ Г...,vzo.ru
1,Развитие,В свое время банк мне здорово помог и поддержа...,vzo.ru
2,Интернет-эквайринг,"Серьезная проверка сайта,поддержка разных плат...",vzo.ru
3,ГАЗФОНД пенсионные накопления,Пенсия – время отдыхать и тратить заработанное...,vzo.ru
4,Дальневосточная ипотека,В связи с переездом на Дальний Восток я решила...,vzo.ru

In [6]:
df = df[["title", "text", "source"]]

In [7]:
df.head()

,title,text,source
0,Мир,Пенсия моя уже несколько лет находится в НПФ Г...,vzo.ru
1,Развитие,В свое время банк мне здорово помог и поддержа...,vzo.ru
2,Интернет-эквайринг,"Серьезная проверка сайта,поддержка разных плат...",vzo.ru
3,ГАЗФОНД пенсионные накопления,Пенсия – время отдыхать и тратить заработанное...,vzo.ru
4,Дальневосточная ипотека,В связи с переездом на Дальний Восток я решила...,vzo.ru

In [8]:
import re

def ser_cleaner(row):
    row["title"] = re.sub(r'[^\w\s]', '', str(row["title"]).strip().lower())
    row["text"] = re.sub(r'[^\w\s]', '', str(row["text"]).strip().lower())
    row["title_words"] = row["title"].split()
    row["text_words"] = row["text"].split()
    return row


df = df.apply(ser_cleaner, axis=1)

df.head()

,title,text,source,title_words,text_words
0,мир,пенсия моя уже несколько лет находится в нпф г...,vzo.ru,[мир],"[пенсия, моя, уже, несколько, лет, находится, ..."
1,развитие,в свое время банк мне здорово помог и поддержа...,vzo.ru,[развитие],"[в, свое, время, банк, мне, здорово, помог, и,..."
2,интернетэквайринг,серьезная проверка сайтаподдержка разных плате...,vzo.ru,[интернетэквайринг],"[серьезная, проверка, сайтаподдержка, разных, ..."
3,газфонд пенсионные накопления,пенсия время отдыхать и тратить заработанное ...,vzo.ru,"[газфонд, пенсионные, накопления]","[пенсия, время, отдыхать, и, тратить, заработа..."
4,дальневосточная ипотека,в связи с переездом на дальний восток я решила...,vzo.ru,"[дальневосточная, ипотека]","[в, связи, с, переездом, на, дальний, восток, ..."

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        591 non-null    object
 1   text         591 non-null    object
 2   source       591 non-null    object
 3   title_words  591 non-null    object
 4   text_words   591 non-null    object
dtypes: object(5)
memory usage: 23.2+ KB

In [10]:
df.shape

(591, 5)

In [11]:
df.to_csv("ready_csv_positive.csv")
df.to_excel("ready_xlsx_positive.xlsx")
df.to_json("ready_json_positive.json", orient="records")

In [12]:
df.head()

,title,text,source,title_words,text_words
0,мир,пенсия моя уже несколько лет находится в нпф г...,vzo.ru,[мир],"[пенсия, моя, уже, несколько, лет, находится, ..."
1,развитие,в свое время банк мне здорово помог и поддержа...,vzo.ru,[развитие],"[в, свое, время, банк, мне, здорово, помог, и,..."
2,интернетэквайринг,серьезная проверка сайтаподдержка разных плате...,vzo.ru,[интернетэквайринг],"[серьезная, проверка, сайтаподдержка, разных, ..."
3,газфонд пенсионные накопления,пенсия время отдыхать и тратить заработанное ...,vzo.ru,"[газфонд, пенсионные, накопления]","[пенсия, время, отдыхать, и, тратить, заработа..."
4,дальневосточная ипотека,в связи с переездом на дальний восток я решила...,vzo.ru,"[дальневосточная, ипотека]","[в, связи, с, переездом, на, дальний, восток, ..."

In [13]:
big_df = pd.read_excel(
    "ready_xlsx_10241.xlsx"
)

In [14]:
big_df.head()

,Unnamed: 0,title,text,rating,date,source,title_words,text_words
0,0,незаконно снята комиссия при переводе через сп...,при переводе через спб себе в другой банк была...,1,2025-01-08 16:26:00,banki.ru,"['незаконно', 'снята', 'комиссия', 'при', 'пер...","['при', 'переводе', 'через', 'спб', 'себе', 'в..."
1,1,без моего согласия подключены платные услуги,05102024 я онлайн оформиляла кредитную карту с...,1,2024-10-10 17:45:00,banki.ru,"['без', 'моего', 'согласия', 'подключены', 'пл...","['05102024', 'я', 'онлайн', 'оформиляла', 'кре..."
2,2,не могу закрыть кредитную карту с мая месяца и...,с мая месяца не могу закрыть кредитную карту г...,1,2025-08-04 14:52:00,banki.ru,"['не', 'могу', 'закрыть', 'кредитную', 'карту'...","['с', 'мая', 'месяца', 'не', 'могу', 'закрыть'..."
3,3,газпромбанк экономит на операторах нанимая для...,сколько бы не обращался для вызова оператора б...,1,2024-11-01 10:43:00,banki.ru,"['газпромбанк', 'экономит', 'на', 'операторах'...","['сколько', 'бы', 'не', 'обращался', 'для', 'в..."
4,4,обман с акцией приведи друга,в ноябре 2024г отправила другу ссылку на получ...,1,2025-01-11 21:37:00,banki.ru,"['обман', 'с', 'акцией', 'приведи', 'друга']","['в', 'ноябре', '2024г', 'отправила', 'другу',..."

In [15]:
absolutely_negative = big_df[big_df["rating"]==1]
absolutely_negative.shape

(7482, 8)

In [16]:
absolutely_positive = big_df[big_df["rating"]==5]
absolutely_positive.shape

(1241, 8)

In [17]:
df.shape

(591, 5)

In [18]:
591+1241

1832

In [19]:
absolute_df = pd.concat(
    [
        absolutely_positive,
        absolutely_negative.iloc[:1833]
    ]
)[[
    "title",
    "text",
    "source",
    "title_words",
    "text_words"
]]

sampled_df = pd.concat(
    [
        absolute_df,
        df
    ]
)

In [20]:
sampled_df.shape

(3665, 5)

In [21]:
sampled_df.to_json(
    "ballanced_dataset.json",
    orient="records"
)

In [27]:
sampled_df.head()

,title,text,source,title_words,text_words
11,разблокировка карты после удаления из ркл,здравствуйте меня по ошибке добавили в реестр ...,banki.ru,"['разблокировка', 'карты', 'после', 'удаления'...","['здравствуйте', 'меня', 'по', 'ошибке', 'доба..."
14,консультация по минимальной сумме покупок в ме...,22 мая в онлайнчате я консультировался по пово...,banki.ru,"['консультация', 'по', 'минимальной', 'сумме',...","['22', 'мая', 'в', 'онлайнчате', 'я', 'консуль..."
17,пригласи друга,5 апреля пригласил друга по реферальной ссылке...,banki.ru,"['пригласи', 'друга']","['5', 'апреля', 'пригласил', 'друга', 'по', 'р..."
20,оформление дебетовой карты,приехал представитель газпромбанка 10 мая 2025...,banki.ru,"['оформление', 'дебетовой', 'карты']","['приехал', 'представитель', 'газпромбанка', '..."
36,спасибо за качественное обслуживание,сделала заявку на сайте все было понятно и про...,banki.ru,"['спасибо', 'за', 'качественное', 'обслуживание']","['сделала', 'заявку', 'на', 'сайте', 'все', 'б..."

In [22]:
absolutely_neutral = big_df[big_df["rating"]==4]
absolutely_neutral.head()

,Unnamed: 0,title,text,rating,date,source,title_words,text_words
51,51,не получалось войти в приложение,получила карту газпромбанка в декабре 2024г но...,4,2025-01-25 16:10:00,banki.ru,"['не', 'получалось', 'войти', 'в', 'приложение']","['получила', 'карту', 'газпромбанка', 'в', 'де..."
54,54,получение дебетовой карты,были проблемы с переводом по сбп невозможно бы...,4,2024-08-22 15:55:00,banki.ru,"['получение', 'дебетовой', 'карты']","['были', 'проблемы', 'с', 'переводом', 'по', '..."
74,74,небольшие проблемы с переводом,ситуация следующая я попытался совершить перев...,4,2024-11-04 10:35:00,banki.ru,"['небольшие', 'проблемы', 'с', 'переводом']","['ситуация', 'следующая', 'я', 'попытался', 'с..."
119,119,спасибо,оформил дебетовую карту с привилегиями плюс у...,4,2024-11-18 10:18:00,banki.ru,['спасибо'],"['оформил', 'дебетовую', 'карту', 'с', 'привил..."
232,232,пытаются помочь,здравствуйте обращалась позавчера на горячую л...,4,2025-03-02 10:19:00,banki.ru,"['пытаются', 'помочь']","['здравствуйте', 'обращалась', 'позавчера', 'н..."

In [28]:
absolutely_neutral = absolutely_neutral[[
    "title",
    "text",
    "source",
    "title_words",
    "text_words"
]]
absolutely_neutral.to_json(
    "neutral.json",
    orient="records"
)

In [26]:
absolutely_neutral.head()

,title,text,source,title_words,text_words
51,не получалось войти в приложение,получила карту газпромбанка в декабре 2024г но...,banki.ru,"['не', 'получалось', 'войти', 'в', 'приложение']","['получила', 'карту', 'газпромбанка', 'в', 'де..."
54,получение дебетовой карты,были проблемы с переводом по сбп невозможно бы...,banki.ru,"['получение', 'дебетовой', 'карты']","['были', 'проблемы', 'с', 'переводом', 'по', '..."
74,небольшие проблемы с переводом,ситуация следующая я попытался совершить перев...,banki.ru,"['небольшие', 'проблемы', 'с', 'переводом']","['ситуация', 'следующая', 'я', 'попытался', 'с..."
119,спасибо,оформил дебетовую карту с привилегиями плюс у...,banki.ru,['спасибо'],"['оформил', 'дебетовую', 'карту', 'с', 'привил..."
232,пытаются помочь,здравствуйте обращалась позавчера на горячую л...,banki.ru,"['пытаются', 'помочь']","['здравствуйте', 'обращалась', 'позавчера', 'н..."

In [24]:
absolutely_neutral.shape

(168, 8)

In [29]:
absolutely_3 = big_df[big_df["rating"]==3]
absolutely_3.head()
absolutely_3 = absolutely_3[[
    "title",
    "text",
    "source",
    "title_words",
    "text_words"
]]
absolutely_3.to_json(
    "neutral3.json",
    orient="records"
)

In [30]:
absolutely_3.shape

(333, 5)